{% extends "hotel_admin/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <section class="pt-4 pt-md-5 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2">Add New Pet</h1>
                    <p class="mb-0">
                        Create a new Pet record that can be used for future reference.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        {% crispy form %}
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>
    <script>
        $("#id_pet_type").on("change", function () {
            const petType = $(this).val();

            $.get("{% url 'hotel-admin:breed-list' %}?pet_type=" + petType, function (data) {
                $("#id_pet_breed").empty();
                data.forEach(([label, value]) => {
                    $("#id_pet_breed").append(`<option value="${value}">${label}</option>`)
                });
            });
        });
    </script>
{% endblock %}