{% extends "hotel_admin/base.html" %}
{% load static %}

{% block content %}

    <section>
        <div class="container">
            <div class="card shadow">
                <!-- Card header -->
                <div class="card-header border-bottom d-sm-flex justify-content-between align-items-center">
                    <!-- Avatar and content -->
                    <div class="d-flex align-items-center flex-shrink-0">
                        <!-- Avatar -->
                        <div class="avatar avatar-lg">
                            <img class="avatar-img rounded-circle"
                                 src="{% static "pages/booking/images/avatar/09.jpg" %}" alt="avatar">
                        </div>
                        <!-- Info -->
                        <div class="ms-3">
                            <h5 class="mb-0">{{ pet.name }}</h5>
                            <p class="mb-0">
                                <i class="fa-solid fa-{{ pet.type|lower }} fa-fw me-1"></i>
                                {{ pet.breed }}
                            </p>
                        </div>
                    </div>

                    <div class="d-block d-lg-flex gap-lg-5 flex-wrap mt-3 mt-lg-0">
                        {% if pet.primary_owner %}
                            <h6 class="mb-0">
                                <i class="bi bi-telephone fa-fw me-1"></i>
                                Contact:
                                <a href="tel:{{ pet.primary_owner.contact_number }}" class="fw-normal">
                                    {{ pet.primary_owner }} - {{ pet.primary_owner.contact_number }}
                                </a>
                            </h6>
                        {% endif %}
                    </div>
                </div>

                <!-- Card body -->
                <div class="card-body">

                    <!-- Title -->
                    <h5 class="mb-3">Boarding History</h5>

                    <!-- Table head -->
                    <div class="bg-light rounded p-3 d-none d-lg-block">
                        <div class="row row-cols-6 justify-content-between g-4">
                            <div class="col"><h6 class="mb-0">Hotel</h6></div>
                            <div class="col"><h6 class="mb-0">Active</h6></div>
                            <div class="col"><h6 class="mb-0">Boarding Time</h6></div>
                            <div class="col"><h6 class="mb-0">Checkout Time</h6></div>
                            <div class="col"><h6 class="mb-0">Rate x Hours</h6></div>
                            <div class="col"><h6 class="mb-0">Total</h6></div>
                        </div>
                    </div>
                    {% for boarding_record in pet.boarding_records.all %}
                        <!-- Table data -->
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-2 g-sm-4 align-items-md-center justify-content-between border-bottom px-2 py-4">
                            <div class="col">
                                <p>{{ boarding_record.hotel }}</p>
                            </div>
                            <div class="col">
                                {% if boarding_record.is_active %}
                                    <h2><i class="h1 fa fa-check text-success"></i></h2>
                                {% else %}
                                    <p>Finished</p>
                                {% endif %}
                            </div>
                            <div class="col">
                                <p>{{ boarding_record.boarding_time|date:"m/d/Y" }}</p>
                                <p>{{ boarding_record.boarding_time|date:"H:i A" }}</p>
                            </div>
                            <div class="col">
                                <p>{{ boarding_record.checkout_time|date:"m/d/Y" }}</p>
                                <p>{{ boarding_record.checkout_time|date:"H:i A" }}</p>
                            </div>
                            <div class="col">
                                <p>&#8369;{{ boarding_record.hotel.hourly_rate }} x {{ boarding_record.hours }}</p>
                            </div>
                            <div class="col">
                                <p class="text-decoration-underline fw-bolder">&#8369;{{ boarding_record.total_fee }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <!-- Table data -->
                        <div class="row px-2 py-4">
                            <div class="col">
                                <p class="text-center">No records yet.</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}