{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Woofstay - {% block title %}Your pet's next staycation{% endblock %}</title>

    {% block meta %}
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="woofstay.com">
        <meta name="description" content="Woofstay - Your pet's next staycation">
    {% endblock %}

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if (el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })

    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "pages/booking/images/favicon.ico" %}">

    {% block fonts %}
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">
    {% endblock %}

    {% block css %}
        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "pages/booking/vendor/font-awesome/css/all.min.css" %}">
        <link rel="stylesheet" type="text/css"
              href="{% static "pages/booking/vendor/bootstrap-icons/bootstrap-icons.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "pages/booking/vendor/tiny-slider/tiny-slider.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "pages/booking/vendor/glightbox/css/glightbox.css" %}">
        <link rel="stylesheet" type="text/css"
              href="{% static "pages/booking/vendor/flatpickr/css/flatpickr.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "pages/booking/vendor/choices/css/choices.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "pages/booking/vendor/dropzone/css/dropzone.min.css" %}">

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "pages/booking/css/style.css" %}">
    {% endblock %}
</head>

<body class="has-navbar-mobile">

{% include "hotel_admin/components/navbar.html" %}

<!-- **************** MAIN CONTENT START **************** -->
<main>
    {% block content %}{% endblock %}
</main>
<!-- **************** MAIN CONTENT END **************** -->

{% include "pages/components/footer-minimal.html" %}
{% include "hotel_admin/components/navbar-mobile.html" %}

{% block js %}
    <!-- Bootstrap JS -->
    <script src="{% static "pages/booking/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Vendors -->
    <script src="{% static "pages/booking/vendor/tiny-slider/tiny-slider.js" %}"></script>
    <script src="{% static "pages/booking/vendor/glightbox/js/glightbox.js" %}"></script>
    <script src="{% static "pages/booking/vendor/flatpickr/js/flatpickr.min.js" %}"></script>
    <script src="{% static "pages/booking/vendor/dropzone/js/dropzone.min.js" %}"></script>

    <!-- ThemeFunctions -->
    <script src="{% static "pages/booking/js/functions.js" %}"></script>
{% endblock %}

</body>
</html>